RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !/(admin|css|fonts|ico|include|js)/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f

RewriteRule ^movie/([0-9]+)/?$ movie.php?id=$1 [NC,L]
RewriteRule ^search/(.+)/?$ search.php?s=$1 [NC,L]